<div class="container" style="padding-top:50px; height: 85%;">

	<h1 class="span4" style="margin-top: 30px;">Sign In</h1>

	<div class="row">
		<div class="span6 offset1">
			<%= form_for(:session, url: signin_path) do |f| %>
				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
		<div class="span4" style="margin-top: -50px; margin-left: 50px;">
			<p>Not a member yet? <%= link_to "Sign Up For Critiq!", signup_path %></p>
		</div>
	</div>
</div>