<li class="row comment" style="width: 80%; display: inline-block;">
	<div class="comment-vote-buttons pull-left" style="margin-top: 20px; padding-right: 20px;">
		<%= link_to product_comment_upvote_path(:product_id => product.id, :comment_id => comment.id) do %>
			<i class="fa fa-play fa-rotate-270" style="color: #1ba573; padding-left: 2px;"></i>
		<% end %>
		<h5 style="margin: 0px;"><%= comment.rating %></h5>
		<%= link_to product_comment_downvote_path(:product_id => product.id, :comment_id => comment.id) do %>
			<i class="fa fa-play fa-rotate-90"  style="color: #c14b1b;"></i>
		<% end %>
	</div>
	<div class="user-info pull-left">
		<% if !comment.user.pictures.empty? %>
			<div class="thumb-ratio" style="background-image: url('<%= comment.user.profile_pic.attachment.url(:medium) %>'); width: 100px; height: 100px;"></div>
		<% else %>
			<div class="thumb-ratio" style="background-image: url('/images/missing-user-avatar.png'); width: 100px; height: 100px;"></div>
		<% end %>
	</div>
	<div class="comment-body pull-left">
		<p><%= link_to comment.user.name, user_path(comment.user) %> - <%= comment.created_at %></p>
		<p style="float: left; padding-left: 10px;"><%= comment.body %></p>
	</div>
</li>