<div class="comment-box span6">
  <%= nested_form_for [@product, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @product.comments.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="comment-form">
      <%= f.text_area :title, :placeholder => "Title your post" %>
      <%= f.text_area :body, :placeholder => "Body of your post", :maxlength => 1000 %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>
</div>
