<div class="comment-box">
  <%= nested_form_for @comment.reply, html: {id: 'comment-reply'}, remote: true do |f| %>
  
    <div class="comment-form">
      <%= f.text_area :body, :placeholder => "Enter Your Reply Here", :maxlength => 1000, style: ' min-height: 100px; border-radius: 0px;', :id => 'reply-body', :class => 'reply-body' %>
      <%= f.hidden_field :parent_id %>
      <%= f.hidden_field :product_id, value: @product.id %>
    </div>
    <div class="reply-but">
      <%= f.submit "Reply", :class => 'btn btn-primary pull-left' %>
      <%= button_tag "Cancel", :class => 'btn btn-primary pull-left cancel' %>
  <% end %>
      
    </div>


</div>