<%= nested_form_for @user, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors alert fade in aler-failure">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :bio, :class => 'text_area', style: 'height: 100px;' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'password_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Re-Type ', :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'password_field' %>
    </div>
  </div>
  <%= f.fields_for :pictures do |picture| %>
    <% if picture.object.new_record? %>
      <div class="control-group">
        <%= picture.label "Image", :class => 'control-label' %>
        <div class="controls btn file_upload_wrapper"  style="float: left; display: inline">
          <%= picture.file_field :attachment  %>
        </div>
      </div>  
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn}' %>
  </div>
<% end %>
