<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors alert fade in aler-failure">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="signup clearfix">
    <div class="control-group">
      <%= f.text_field :name, placeholder: 'NAME', style: 'height: 40px !important;' %>
      <%= f.text_field :email, placeholder: 'EMAIL', style: 'height: 40px !important;'  %>
      <%= f.password_field :password, :class => 'password_field', placeholder: 'PASSWORD', style: 'height: 40px !important;'  %>
      <%= f.password_field :password_confirmation, :class => 'password_field', placeholder: 'CONFIRM PASSWORD', style: 'height: 40px !important;'  %>
    </div>
    <div class="subscribe-options">
      <div style="width: 100%;">
        <%= f.check_box :critiq_subscription, style: 'display: inline-block; float: center;' %>
        <p style="display: inline-block;">Update me on Critiq's growth</p>
      </div>
      <div style="width: 100%;">
        <%= f.check_box :drive_subscription, style: 'display: inline-block; float: center;' %>
        <p style="display: inline-block;">Update me on Drives I follow</p>
      </div>
    </div>
  </div>
 <div>
    <%= f.submit 'CREATE ACCOUNT', :class => 'btn btn-primary btn-black', style: 'border: none;' %>
  </div>
<% end %>
<p style="text-align: center">- or -</p>
<div class="fb_signup_button" style="text-align: center; margin-top: 10px;">
    <%= button_to '/auth/facebook', class: 'btn fb-btn' do %>
        <i class="fa fa-facebook-square fa-lg"></i>&nbsp;&nbsp;Sign up with Facebook
    <% end %>
</div>
