<% if has_image? %>
  <h2>Here come <%= @user.name %>'s pictures</h2>
  <div id="grid" class="row" style="margin-left: 0px;">
    <% @user.pictures.each do |pic| %>
      <% if pic.attachment.file? and pic.user_id == @user.id %>
        <div class="thumbnail span2" style="height: 140px; width: 140px; padding: 3px;">
          <a href="#user-picture-modal<%= pic.id.to_s %>" data-toggle="modal">
            <div class="thumb-ratio" style="background-image: url('<%= asset_path pic.attachment.url(:thumb) %>'); background-position: center;"></div>
          </a>
        </div>
        <%= render :partial => 'user_pic_modal', :locals => { pic: pic } %>
      <% end %>
    <% end %>
  </div>
  <% if current_user.id == @user.id %>
    <div class="row upload_form">
      <%= render :partial => 'user_image_upload_form' %>
    </div>
  <% end %>
<% else %>
  <h2>Unfortunately <%= @user.name %> doesn't have any pictures yet</h2>
<% end %>
