<div class="span2 thumbnail user-callout">
	<a href="#user-modal<%= user.id.to_s %>" data-toggle="modal">
		<% if !user.propic_id.nil? %>
			<%= image_tag ImageAsset.find(user.propic_id).attachment.url(:thumb), :class => 'img-rounded', :style => 'width: 100%; max-height: 120px; overflow: hidden' %>
		<% elsif !user.pictures.empty? %>
	    <%= image_tag user.pictures.last.attachment.url(:large), :style => 'width: 100%; max-height: 120px;' %>
		<% else %>
			<%= image_tag "/images/missing-user-avatar.png", :style => 'width: 100px' %>
		<% end %>
	</a>
	</br>
	<h4><%= link_to user.name, user %></h4>
</div>

<%= render :partial => '/users/user_modal', :locals => { user: user } %>