<div class="thumbnail span2 user-thumb">
	<a href="/users/<%= user.id %>" data-toggle="modal">
		<% if !user.propic_id.nil? %>
			<div class="thumb-ratio" style="background-image: url('<%= asset_path ImageAsset.find(user.propic_id).attachment.url(:large) %>');"></div>
		<% elsif !user.pictures.empty? %>
	    <div class="thumb-ratio alternate-pic" style="background-image: url('<%= asset_path user.pictures.last.attachment.url(:large) %>');"></div>
		<% else %>
			<div class="thumb-ratio" style="background-image: url('/images/missing-user-avatar.png');"></div>
		<% end %>
	</a>
	<div class="user-thumb-content">
		<h4><%= link_to user.name, user %></h4>
		<div class="user-mini-products">
			<% if user.products.empty? %>
				<h5 style="padding: 5px;"><%= user.name %> Hasn't Created Anything Yet</h5>
			<% else %>
				<% user.products.order('created_at DESC').first(3).each do |product| %>
					<div class="buffer" style="margin-left: 15%;">
						<a href="/products/<%= product.id %>">
						<% if !product.profile_pic.nil? %>
							<div class="thumb-ratio tiny-thumb-ratio" style="background-image: url('<%= asset_path product.profile_pic.attachment.url(:thumb) %>'); margin-right: 5px;"></div>
						<% else %>
							<div class="thumb-ratio tiny-thumb-ratio" style="background-image: url('/images/missing-user-avatar.png'); margin-right: 5px;"></div>
						<% end %>
						</a>
					</div>
				<% end %>
			<% end %>	
		</div>
	</div>
	<div class="thumb-functions">
		<p style="padding: 10px 5px 0px 15px;"><%= user.products.nil? ? 0 : user.products.size.to_s %> Creation<%= user.products.size != 1 ? 's' : '' %></p>
	</div>
</div>