<div class="thumbnail span2 user-thumb">
	<a href="/users/<%= user.id %>" data-toggle="modal">
		<div class="thumb-ratio" style="background-image: url('<%= user.profile_pic_url %>'); background-position: center;"></div>
	</a>
	<div class="user-thumb-content">
		<h4><%= link_to user.name, user %></h4>
		<div class="user-mini-products">
			<% if user.products.empty? %>
				<p style="padding: 5px;"><%= user.name %> Hasn't Created Anything Yet</p>
			<% else %>
				<% user.products.order('created_at DESC').reverse.first(3).each do |product| %>
					<div class="buffer" style="margin-left: 15%;">
						<a href="/products/<%= product.id %>">
						<% if !product.profile_pic.nil? %>
							<div class="thumb-ratio tiny-thumb-ratio" style="background-image: url('<%= product.profile_pic_url(:thumb) %>'); margin-right: 5px;"></div>
						<% else %>
							<div class="thumb-ratio tiny-thumb-ratio" style="background-image: url('/images/missing-product.jpg'); margin-right: 5px;"></div>
						<% end %>
						</a>
					</div>
				<% end %>
			<% end %>	
		</div>
	</div>
	<div class="thumb-functions">
		<p style="padding: 10px 5px 0px 15px;"><%= user.products.nil? ? 0 : user.products.size.to_s %> Creation<%= user.products.size != 1 ? 's' : '' %></p>
	</div>
</div>
