<div class="container" style="padding: 30px; min-height: 90%; text-align: center;">
	<div class="row row-header" style="margin-bottom: 30px;">
		<h2><%= @user.name.camelize %>'s dashboard</h2>
		<%= link_to 'View Profile', user_path(@user), class: 'btn btn-info' %>
	</div>
	<% if signed_in? and current_user.id == @user.id %>
		<div class="span" style="min-height: 100%; width: 90%">
	    <ul class="nav nav-tabs" id="creation-tabs">
	    	<% @products.each do |product| %>
	    		<li><a href="#creation<%= product.id %>" data-toggle="tab"><%= product.name.camelize %></a></li>
	    	<% end %>
	    </ul>
	    <div class="tab-content">
	    	<% @products.each do |product| %>
	    		<div class="tab-pane" id="creation<%= product.id %>">
	    			<div class="pull-left span2" style="margin-left: -40px;">
	    				<%= render :partial => '/products/product_thumb', locals: {product: product} %>
	    			</div>
	    			<div class="pull-left span8" style="padding: 80px; margin-left: 30px;">
	    				<%= image_tag(@daily_likes[product.id] )%>
	    				<%= image_tag(@cummulative_ratings[product.id]) %>
	    			</div>
	    			<div class="row" style="width: 100%; text-align: center;">
		    			<% if !@comparison_breakdowns[product.id].nil? %>
			    			<div class="feature-graphs">
			    				<% product.feature_groups.each do |fg| %>
			    					<% if !@comparison_breakdowns[product.id][fg.id].nil? %>
			    						<div class="feature-chart" style="display: inline-block; margin-bottom: 20px; text-align: center;">
				    						<%= image_tag(@comparison_breakdowns[product.id][fg.id]) %>
			    						</div>
			    					<% end %>
			    				<% end %>
			    			</div>
		    			<% end %>
	    			</div>
	    		</div>
	    	<% end %>
	    </div>
	  </div>
	<% else %>
		<h2>Only <%= @user.name.camelize %> may view this dashboard</h2>
	<% end %>
</div>

<% if !@user.products.first.nil? %>
	<script>
	  $(function () {
	    $('#creation-tabs a[href="#creation<%= @user.products.first.id %>"]').tab('show')
	  })
	</script>
<% end %>