<%- model_class = User -%>
<div class="user-cover"></div>
<div class="container">
  <div class="row user-profile-top">
    <div class="user-middle">
      <div class="span2 user-rating">
        <h4><%= @user.name.split[0] %>'s rating: 1<%= @user.swagger %></h4>
      </div>
      <div class="span3 user-face">
        <% if has_propic? %> 
          <div class="thumb-ratio img-circle user-face-pic" style="background-image: url('<%= @propic.attachment.url(:large) %>');"></div>
        <% elsif has_image? %>
          <div class="thumb-ratio img-circle user-face-pic" style="background-image: url('<%= @user.pictures.last.attachment.url(:large) %>');"></div>
        <% else %>
          <%= image_tag "/images/missing-user-avatar.png", :style => 'width: 200px;', :class => 'img-circle user-face-pic' %>
        <% end %> 
        <h1><%= @user.name %></h1>
      </div>
      <div class="user-buttons <% if signed_in? and @user.id != current_user.id %>other-user-buttons<% end %>">
        <% if signed_in? and @user.id != current_user.id %>
          <%= button_to 'MESSAGE', '#', :method => "get", :class => "btn-clear inline-button"%>
          <%= button_to 'FOLLOW', '#', :method => "get", :class => "btn-clear inline-button"%>
        <% elsif signed_in? and @user.id == current_user.id %>
          <%= button_to 'EDIT', edit_user_path(@user), :method => "get", :class => "btn-clear inline-button"%>
        <% end %>
          <a href="#" class="btn-clear sm-button" style="margin-bottom: 5px;"><i class="fa fa-twitter fa-fw"></i></a>
          <a href="#" class="btn-clear sm-button"><i class="fa fa-facebook fa-fw"></i></a>
          </br>
      </div>
    <div class="span2 user-followers"><h4>Followers: 1<%= @user.lovers %></h4></div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 5%;">
  <div class="current-campaigns">
    <h1>Current Campaigns</h1>
    <div class="pretty-divider"></div>
    <div style="margin-left: auto; ">
      <% @top_products.each do |product| %>
        <%= render :partial => '/products/product_thumb', locals: { product: product} %>
        <%= render :partial => '/products/product_modal', locals: { product: product} %>
      <% end %>
    </div>
  </div>
  <% if !@old_products.empty? %>
    <div class="past-campaigns">
      <h1>Past Campaigns</h1>
      <div class="pretty-divider"></div>
      <div style="margin-left: auto; ">
        <% @old_products.each do |product| %>
          <%= render :partial => '/products/product_thumb', locals: { product: product} %>
          <%= render :partial => '/products/product_modal', locals: { product: product} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
