<%- model_class = User -%>
<div class="user-cover">
<div class="container">
  <div class="row user-profile-top">
    <div class="user-middle">     
      <div class="span user-face">
        <% if @user.profile_pic %>
          <div class="thumb-ratio img-circle user-face-pic" style="background-image: url('<%= @user.profile_pic.attachment.url(:medium) %>');"></div>
        <% else %>
          <div class="thumb-ratio img-circle user-face-pic" style="background-image: url('/images/missing-user-avatar.png');"></div>
        <% end %>
      </div>
    </div>
    <div class="user-data">
      <h5><i class="fa fa-heart fa-lg" style="margin-top: 2px;"></i> <%= @user.swagger %> &nbsp;&nbsp;&nbsp;<i class="fa fa-users fa-lg"></i> <%= @user.lovers %></h5>
    </div>
    <div class="row">
      <h2 style="width: 100%;"><%= @user.name %></h2>
      <div class="user-buttons <% if signed_in? and @user.id != current_user.id %>other-user-buttons<% end %>">
        <% if signed_in? and @user.id != current_user.id %>
          <%= button_to 'MESSAGE', '#', :method => "get", :class => "btn-clear inline-button"%>
          <%= button_to 'FOLLOW', '#', :method => "get", :class => "btn-clear inline-button"%>
        <% elsif signed_in? and @user.id == current_user.id %>
          <%= button_to 'EDIT', edit_user_path(@user), :method => "get", :class => "btn-clear inline-button"%>
        <% end %>
          <a href="#" class="btn-clear sm-button" style="margin-bottom: 5px;"><i class="fa fa-twitter fa-fw"></i></a>
          <a href="#" class="btn-clear sm-button"><i class="fa fa-facebook fa-fw"></i></a>
          <br></br>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="current-campaigns">
    <h1>Current Campaigns</h1>
    <div class="pretty-divider"></div>
    <div class="row" style="text-align: center; display: inline-block;">
      <% @top_products.each do |product| %>
        <%= render :partial => '/products/product_thumb', locals: { product: product} %>
      <% end %>
    </div>
  </div>
  <% if !@old_products.empty? %>
    <div class="past-campaigns">
      <h1>Past Campaigns</h1>
      <div class="pretty-divider"></div>
      <div class="row" style="display: inline-block; ">
        <% @old_products.each do |product| %>
          <%= render :partial => '/products/product_thumb', locals: { product: product} %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if signed_in? and @user.id == current_user.id %>
    <%= render partial: 'user_image_upload_form' %>
  <% end %>
</div>
