<%- model_class = User -%>
<div class="user-cover">
  <div class="container">
    <div class="row user-profile-top">
      <div class="user-left">     
        <div class="user-face">
          <div class="thumb-ratio img-circle user-face-pic" style="background-image: url('<%= @user.profile_pic_url %>');"></div>
        </div>
      </div>
      <div class="user-right">
        <div class="user-name">
          <h1 style="display:inline-block; float: left"><%= @user.name %></h1>
          <% if signed_in? and @user.id == current_user.id %>
            <div style="display: inline-block; float: left;">
              <%= button_to 'EDIT', edit_user_path(@user), :method => "get", :class => "btn-clear", style: 'margin: 35px 0 0 10px;' %>
            </div>
        <% end %>
        </div>
        <div class="under-name">
          <div class="heat-box">
            <div class="purple-numbers">
              <h2 class="roboto-heavy"><%= @user.swagger.to_i.to_s %></h2>
              <h2 class="roboto-heavy"><%= @user.creator_heat.to_i.to_s %></h2>
            </div>
            <div class="heat-titles">
              <h2 class="roboto-font">Critiqer Heat</h2>
              <h2 class="roboto-font">Creator Heat</h2>
            </div>
          </div>
          <div class="user-bio">
            <% if @user.bio %>
              <h4 class="proxima-font" style="color: #fff;"><%= @user.bio %></h4>
            <% else %>
              <h4 class="proxima-font" style="color: #fff">This Critiqer doesn't want to share a bio yet</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="current-campaigns">
    <h1>Current Campaigns</h1>
    <div class="pretty-divider"></div>
    <div class="row" style="text-align: center; display: inline-block;">
      <% @top_products.each do |product| %>
        <%= render :partial => '/products/product_thumb', locals: { product: product} %>
      <% end %>
    </div>
  </div>
  <% if !@old_products.empty? %>
    <div class="past-campaigns">
      <h1>Past Campaigns</h1>
      <div class="pretty-divider"></div>
      <div class="row" style="display: inline-block; ">
        <% @old_products.each do |product| %>
          <%= render :partial => '/products/product_thumb', locals: { product: product} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
