<%- model_class = User -%>
<div style="width: 100%; overflow: hidden;">
<div class="user-cover"></div></div>
<div class="container">
  <div class="row user-profile-top">
    <div class="user-middle">
      <div class="span2 user-rating">
        <h4><%= @user.name.split[0] %>'s rating: 100<%= @user.swagger %></h4>
      </div>
      <div class="span3 user-face">
        <% if has_propic? %>
          <%= image_tag @propic.attachment.url(:large), :style => 'width: 200px;', :class => 'img-circle user-face-pic' %>
        <% elsif has_image? %>
          <%= image_tag @user.pictures.last.attachment.url(:large),:style => 'width: 200px;', :class => 'img-circle user-face-pic' %>
        <% else %>
          <%= image_tag "/images/missing-user-avatar.png", :style => 'width: 200px;', :class => 'img-circle user-face-pic' %>
        <% end %> 
        <h1><%= @user.name %></h1>
        <div class="user-buttons">
          <% if signed_in? and @user.id != current_user.id %>
            <%= button_to 'MESSAGE', '#', :method => "get", :class => "btn-clear inline-button"%>
            <%= button_to 'FOLLOW', '#', :method => "get", :class => "btn-clear inline-button"%>
          <% elsif signed_in? and @user.id == current_user.id %>
            <%= button_to 'EDIT', edit_user_path(@user), :method => "get", :class => "btn-clear inline-button"%>
          <% end %>
        </div>
      </div>
    <div class="span2 user-followers"><h4>Followers: 10<%= @user.lovers %></h4></div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 5%;">
  <div class="current-campaigns row">
    <h1>Current Campaigns</h1>
    <div class="pretty-divider"></div>
    <% @user.products.where(:active => true).limit(10) do |product| %>
      <% render :partial => '/products/product_thumb', locals: { product: product} %>
      <% render :partial => '/products/product_modal', locals: { product: product} %>
    <% end %>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="span6">
      <h2 style="float: left; padding: 5px;">
      <% if has_propic? %>
        <%= image_tag @propic.attachment.url(:large), :style => 'min-width: 300; max-height: 350px;' %>
      <% elsif has_image? %>
        <%= image_tag @user.pictures.last.attachment.url(:large), :style => 'min-width: 300; max-height: 350px;' %>
      <% else %>
        <%= image_tag "/images/missing-user-avatar.png" %>
      <% end %> 
      </br><%=t '.title', :default => @user.name %></h2>
    </div>
    <div class="span4 user-info" style="padding-top: 100px">
      <dl class="dl-horizontal row">
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @user.name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= @user.email %></dd>
      </dl>
      <% if @user.id == current_user.id %><div class="offset1"><%= render :partial => 'profile_management_buttons' %></div><% end %>
    </div>
  </div>
  <div class="background-splatter"></div>
  <div class="span12">
    <ul class="nav nav-tabs" id="user-tabs">
      <li class="active"><a href="#user-products" data-toggle="tab">Creations</a></li>
      <li><a href="#user-pictures" data-toggle="tab">Pictures</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="user-products">
        <%= render :partial => 'user_products' %>
      </div>
      <div class="tab-pane" id="user-pictures">
        <%= render :partial => 'user_pictures' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#user-tabs a[href="#user-products"]').tab('show')
  })
</script>