<div class="hero-unit home-banner">
	<div class="hero-text hero-header">
		<h1>Feedback on Anything</h1>
		<h1>Curated by Everyone</h1>
	</div>
	<div class="hero-description">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="home-buttons">
		<%= button_to 'START A DRIVE', new_product_path, :method => "get", :class => "btn-clear"%>
	 	<% if !signed_in? %>
	    <%= button_to 'SIGN UP', signin_path, :method => "get", :class => "btn-clear" %>
	    <%= button_to 'SIGN IN', signin_path, :method => "get", :class => "btn-clear"%>
	  <% end %>
  </div>
</div>
</br>
<div class="container home-content">
	<div class="background-splatter1"></div>
	<div class="blurb-row offset1">
		<div class="blurb-left span3">
			<%= image_tag '/images/round-icons/art-utensils.svg', :class => 'blurb-icon' %>
			<h4>Makers can start a Feedback Drive</h4>
		</div>
		<div class="blurb-center span3">
			<%= image_tag '/images/round-icons/chat.svg', :class => 'blurb-icon' %>
			<h4>Critiqers can vote, comment, or answer a question</h4>
		</div>
		<div class="blurb-right span3">
			<%= image_tag '/images/round-icons/brush.svg', :class => 'blurb-icon' %>
			<h4>Improve, Polish, and push to the marketplace</h4>
		</div>
	</div>	
	<div class="featured-campaigns">
		<h1>Featured Drives</h1>
		<div class="pretty-divider"></div>
		<div class="row">
			<% @top_products.each do |product| %>
				<%= render :partial => '/products/product_thumb', locals: { product: product } %>
			<% end %>
		</div>
	</div>	
	<div class="background-splatter2"></div>
	<div class="featured-makers">
		<h1>Featured Makers</h1>
		<div class="pretty-divider"></div>
		<div class="row">
			<% @top_users.each do |u| %>
				<%= render :partial => '/users/user_thumb', locals: { user: u } %>
			<% end %>
		</div>
	</div>
</div>