<div class="hero-unit home-banner">
	<div class="hero-text hero-header">
		<h1>Feedback on Anything,</h1>
		<h1>Curated by Everyone</h1>
	</div>
	<div class="hero-description">
		<p style="font-size: 16px;">Launch a feedback drive for a project and crowdsource opinions from a spread of customers, enthusiasts, and experts.</p>
	</div>
	<div class="home-buttons">
		<%= button_to 'START A DRIVE', new_product_path, :method => "get", :class => "btn-clear"%>
	 	<% if !signed_in? %>
	    <%= button_to 'SIGN UP OR SIGN IN', signin_path, :method => "get", :class => "btn-clear" %>
	  <% end %>
  </div>
</div>
</br>
<div class="container home-content" style="text-align: center;">
	<div class="background-splatter1"></div>
	<div class="blurb-row">
		<div class="blurb-left span3">
			<%= image_tag '/images/round-icons/utensils.svg', :class => 'blurb-icon' %>
			<h4>Creators can start a Feedback Drive</h4>
		</div>
		<div class="blurb-center span3">
			<%= image_tag '/images/round-icons/chat.svg', :class => 'blurb-icon' %>
			<h4>Critiqers can vote, comment, or answer a question</h4>
		</div>
		<div class="blurb-right span3">
			<%= image_tag '/images/round-icons/brush.svg', :class => 'blurb-icon' %>
			<h4>Improve, polish, and push to the marketplace</h4>
		</div>
	</div>	
	<h1>Featured Drives</h1>
	<div class="pretty-divider"></div>
	<div id="home_drives">
		<%= render partial: 'home_drives' %>
	</div>	
	<div class="featured-makers" style="text-align: center;">
		<h1>Featured Makers</h1>
		<div class="pretty-divider"></div>
		<div class="row">
			<% @top_users.each do |u| %>
				<%= render :partial => '/users/user_thumb', locals: { user: u } %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("#home_drives .pagination a").on('click', function() {
			$.getScript(this.href);
			return false;
		});
	});
</script>