<div id="Background_image_box" class="clearfix">
    <div id="Login_and_Signup_global_container" class="clearfix">
        <div id="Login_container" class="clearfix">
            <p id="_Log_in_title_text">
            Log in
            </p>
            <div class="signin_form clearfix">
                <%= form_for(:session, url: signin_path) do |f| %>
                    <div class="control-group">
                        <%= f.label :email %>
                        <%= f.text_field :email %>
                    </div>
                    <div class="control-group">
                        <%= f.label :password %>
                        <%= f.password_field :password %>
                    </div>
                    <%= f.submit "Login", id: 'Login_button', class: "btn btn-large btn-primary" %>
                    <div id="Login_forgot_password_container">
                        <a id="Forgot_pasword_text_link" href="redirect to email activation page">
                        <span id="Forgot_password_text">Forgot Password?</span><br>
                        </a>
                    </div>
                <% end %>
            </div>
            <a href="facebook sign in, then user dashboard">
                <input id="Facebook_sign_in_button" type="button" value="Facebook sign in">
            </a>
        </div>
        <div id="Sign_up_container" class="clearfix">
            <p id="_Sign_up_title_text">
            Sign up<br>
            </p>
            <% @user = User.new %>
            <% @user.pictures.build %>
            <div class="signin_form clearfix">
                <%= render partial: '/users/short_form' %>
            </div>
        </div>
    </div>
</div>