<div id="Background_image_box" class="clearfix">
    <div id="Login_and_Signup_global_container" class="clearfix">
        <div id="Login_container" class="clearfix">
            <p id="_Log_in_title_text">
            Log in
            </p>
            <div class="signin_form clearfix">
                <%= form_for(:session, url: signin_path, html: { class: 'signin'}) do |f| %>
                    <div class="form-group">
                        <%= f.text_field :email, placeholder: 'EMAIL', class: 'session-form', style: 'height: 40px !important;' %>
                        <%= f.password_field :password, placeholder: 'PASSWORD', class: 'session-form', style: 'height: 40px !important;' %>
                    </div>
                    <%= f.submit "SIGN IN", class: "btn btn-primary btn-purple", style: 'margin-bottom: 30px; margin-top: 140px; width: 100%' %>
                    <div id="Login_forgot_password_container">
                        <a id="Forgot_pasword_text_link" href="<%= new_password_reset_path %>">
                        <p id="Forgot_password_text">Forgot Password</p>
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
        <div id="Sign_up_container" class="clearfix">
            <p id="_Sign_up_title_text">
            Sign up<br>
            </p>
            <% @user = User.new %>
            <% @user.pictures.build %>
            <div class="signin_form clearfix">
                <%= render partial: '/users/short_form' %>
            </div>
        </div>
        <div id="sm_container" class="clearfix">   
            <div class="fb_signup_button" style="text-align: center; margin-top: 80px;">
                <%= button_to '/auth/facebook', class: 'btn fb-btn' do %>
                    <i class="fa fa-facebook-square fa-lg"></i>&nbsp;&nbsp;Log In/Sign With Facebook
                <% end %>
            </div>
            <p style="text-align: center; color: #fff; margin-top: 20px">- or -</p>
            <div class="fb_signup_button" style="text-align: center; margin-top: 25px;">
                <%= button_to '/auth/linkedin', class: 'btn fb-btn li_signup_button' do %>
                    <i class="fa fa-linkedin-square fa-lg"></i>&nbsp;&nbsp;Log In/Sign With LinkedIn
                <% end %>
            </div>
            <p style="text-align: center; color: #fff; margin-top: 20px">- or -</p>
            <div class="fb_signup_button" style="text-align: center; margin-top: 25px;">
                <%= button_to '/auth/twitter', class: 'btn fb-btn tw_signup_button' do %>
                    <i class="fa fa-twitter-square fa-lg"></i>&nbsp;&nbsp;Log In/Sign With Twitter
                <% end %>
            </div>
        </div>
    </div>
</div>