<div class="comp-feature-thumb-functions">
	<div class="functions-left">
		<% if signed_in? %>
			<a href=<%= product_feature_group_vote_path(product_id: @product.id, feature_id: feature.id, feature_group_id: feature.feature_group_id, up: true) %> id="upvoteFeature<%= feature.id %>" data-remote="true">
		<% else %>
			<span class="sign-in-first-tooltip" data-toggle="tooltip" data-placement="bottom" title="Sign In First">
		<% end %>
		<div class="check">
			<i class="fa fa-check fa-lg" style="color: <% if signed_in? and !feature.likes.where(:user_id => current_user.id).empty? %>#fff<% else %>#828282<% end %>;" id="maybeCheckedFeature<%= feature.id %>"></i> 
		</div>
		<div class="vote"> 
			<h5> Vote</h5>
		</div>
	</div>
	<% if signed_in? %>
		</a>
	<% else %>
		</span>
	<% end %>
	<div class="functions-right" style="text-align: center; color: #fff;">
		<p id="featureVoteCount<%= feature.id %>"><%= feature.likes.where(:up => true).size  %> Votes</p>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#upvoteFeature<%= feature.id.to_s %>, #modalUpvoteFeature<%= feature.id.to_s %>')
			.bind("ajax:beforeSend", function(evt, xhr, settings){
				console.log('attempting to upvote feature <%= feature.id %>');
			})
			.bind("ajax:complete", function(evt, data, status, xhr) {
				/* Change the checkmark to white */
				$('#maybeCheckedFeature<%= feature.id %>').css("color", "#fff");
				console.log('completed like of feature <%= feature.id %>');
				var oldLike = jQuery.parseJSON(data.responseText);
				$('#featureVoteCount<%= feature.id %>').replaceWith('<p id="featureVoteCount<%= feature.id %>">' + oldLike.newCount + ' Votes</p>');
				/* if the user had already voted, grey out their previous selection and decrease that features vote count */
				if(typeof oldLike.id != "undefined"){
					console.log('previously liked feature was = ' + oldLike);
					$('#maybeCheckedFeature' + oldLike.id).css("color", "#828282");
					var newVC = '<p id="featureVoteCount' + oldLike.id + '">' + oldLike.oldCount + ' Votes </p>';
					$('#featureVoteCount' + oldLike.id).replaceWith(newVC);
					/* if vote was from modal, close the modal */
					$('#feature-modal<%= feature.id %>').modal('hide');
				}
			});
		});
</script>