<!-- requires local param comp_feature -->
<div class="comparison-feature-callout">
	<div class="comparison-header">
		<h3 style="text-align: center;"><%= comp_feature.name %></h3>
		<p><%= comp_feature.description %></p>
			<% if current_user?(comp_feature.product.user) %>
				<button class="btn btn-primary" data-toggle="modal" data-target="#newFeatureModalGroup<%= comp_feature.id %>">
				  ADD VERSION
				</button>
				<%= render partial: '/features/single_feature_form_modal', locals: { product: @product, feature_group: comp_feature, feature: Feature.new(:user_id => @product.user.id, :product_id => @product.id, :feature_group_id => comp_feature.id) } %>
			<% end %>
	</div>
	<div class="row" id="feature-thumbnails<%= comp_feature.id %>" style="display: inline-block; max-width: 98%;" >
		<% comp_feature.features.each do |cf| %>
			<div class="comp-feature">
				<%= render :partial => 'feature_thumb', locals: { feature: cf, vote: comp_feature.can_user_vote(current_user) } %>
			</div>
		<% end %> 	
	</div>
</div>