<div class="thumbnail feature-thumb" style="background-color: #fff;">
	<a data-toggle="modal" data-target="#feature-modal<%= feature.id %>">
	<% if !feature.pictures.empty? %>
		<div class="thumb-ratio" style="background-image: url('<%= feature.pictures.last.attachment.url(:large) %>');"></div>
	<% else %>
		<div class="thumb-ratio" style="background-image: url('/images/missing-product.jpg');"></div>
	<% end %>
	</a>
	<% if signed_in? and !vote %>
		<!-- signed in user has already voted, so add overlay -->
	<% end %>
	<div class="feature-thumb-content" <% if !vote %>style="padding-bottom: 10px;"<% end %>>
		<h4><%= link_to feature.name, product_feature_group_feature_path(:id => feature.id, :product_id => @product.id, :feature_group_id => feature.feature_group_id) %></h4>
		<div class="feature-thumb-description">
			<p style="line-height: 1.2;"><%= truncate feature.description, length: 60 %></p> 
		</div>
	</div>
	<div class="feature-thumb-functions">
		<% if feature.feature_group.singles? %>
			<%= render partial: '/products/single_feature_thumb_functions', locals: {feature: feature } %>
		<% else %>
			<%= render partial: '/products/comp_feature_thumb_functions', locals: {feature: feature } %>
		<% end %>
	</div>
</div>
<%= render partial: '/features/feature_modal', locals: { feature: feature} %>