<div class="span2 thumbnail feature-callout">
	<% if !feature.pictures.empty? %>
		<%= image_tag feature.pictures.last.attachment.url(:thumb), :class => 'img-rounded', :style => 'width: 100%' %>
		</br>
		<h4><%= feature.name %></h4>
	<% end %>
	<p>
	  <%= feature.description %>
	</p>
	<div class="btn-group" style="padding-right: 5px">
		<%= link_to 'Yeh ' + feature.upvotes.to_s ,
							product_feature_upvote_path(:product_id => @product.id, :feature_id => feature.id), class: "btn btn-success" %>
		<%= link_to 'Meh ' + feature.downvotes.to_s,
							product_feature_downvote_path(:product_id => @product.id, :feature_id => feature.id), class: "btn btn-danger" %>
	</div>
</div>