<%= nested_form_for @product do |f| %>
  <div class="product-info">
    <h4>Project Name</h4>
    <%= f.text_field :name, :class => 'text_field', style: 'min-width: 250px; margin-bottom: 10px;' %>
    <h4>Description</h4>
    <%= f.text_area :description, maxlength: 1000, :class => 'text_field', style: 'height: 100px; min-width: 250px;' %>
    <%= f.fields_for :pictures do |picture| %>
      <% if picture.object.new_record? %>
        <h4>Select a picture</h4>
        <div class="file_upload_wrapper"  style="float: left; padding: 5px 5px 0 5px; margin-bottom: 30px; background-color: #fff;">
          <%= picture.file_field :attachment  %>
        </div>  
      <% end %>
    <% end %>
  </div>
  <div class="form-actions" style="border: none;">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
