<div class="product-container">
  <div class="product-left" style="margin-left: 0px;"> 
    <div class="product-pictures">
      <% if @product.video_url and @product.video_url != '' and @product.embed_video %>
        <div class="main-pic span6" id="main-pic">
          <%= @product.embed_video.html_safe %>
        </div>
      <% else %>
        <div class="main-pic span6" id="main-pic" style="background-image: url('<%= @product.profile_pic_url %>'); background-position: center;"></div>
      <% end %>
      <div class="other-pics">
        <% if @product.video_url and @product.video_url != '' %>
          <div class="alt-pic">
            <a class="thumb-ratio alt-pic"  style="cursor: pointer; background-position: center; background-image: url(<%= @product.video_thumb %>); " id="video_thumb" onclick="embedVideo('<%= escape_javascript @product.embed_video %>')">
            </a>
          </div>
        <% end %>
        <% @product.top_pics.each_with_index do |pic, i| %>
          <div class="alt-pic">
            <a class="thumb-ratio alt-pic"  style="cursor: pointer; background-position: center; background-image: url('<%= pic.attachment.url(:large) %>');" id="alt-pic<%= i %>" onclick="selectImage(<%= i %>)">
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="product-right">
    <div class="product-creator" style="display: inline-block;">
      <div class="img-circle creator-face" style="background-image: url('<%= @product.user.profile_pic_url(:medium) %>');"></div>
      <div class="creator-data">
        <h4 style="text-align: left; color: #000">Created By <%= link_to @product.user.name, @product.user, style: 'color: #626262' %></h4>
      </div>
    </div>
    <div class="product-buttons">
      <% if signed_in? and !@product.likes.exists?(:user_id => current_user.id) and !@product.user.id == current_user.id %>
        <%= button_to 'FOLLOW', product_love_path(@product.id), :method => "get", :class => "btn btn-black inline-button", style: 'float: left;' %>
      <% elsif !signed_in? %>
        <h4 style="margin-top: 15px; height: 50px; text-align: center; color: #000;">Sign in to Vote and Comment</h4>
      <% end %>
      <% if signed_in? and (current_user.id == @product.user.id or is_admin?) %>
        <%= button_to 'EDIT', edit_product_path(@product.id), :method => "get", :class => "btn btn-black inline-button", style: 'float: left;' %>
      <% end %>
    </div>
    <div class="description-box">
      <!-- Buy when complete button isn't ready yet! <%= button_to 'BUY WHEN COMPLETE', @product, :method => "get", :class => "btn-clear inline-button", style: 'margin-bottom: 0px; color: #s; border-color: #313131;' %> -->
      <p class="product-description" style="white-space: pre-wrap;"><%= @product.description %></p>
      <% if !@product.link.nil? and @product.link != "" %><%= link_to @product.simple_link, "http://#{@product.link}", class: 'btn btn-black' %><% end %>
    </div>
  </div>
</div>