<% if (@product.single.nil? or @product.single.features.empty?) and (@product.comparisons.nil? or @product.comparisons.empty?) %>
	<div class="container new-product-features">
		<div class="new-product-features-box">
			<h3 style="color: #fff">Hey there, it looks like this Drive doesn't have Polls set up yet</h3>
		</div>
		<% if signed_in? and current_user.id == @product.user_id %>
			<h3>Create a Poll to start getting feedback</h3>
			<button class="btn btn-primary" data-toggle="modal" data-target="#newFeatureModal">
			  CREATE A POLL
			</button>
			<h3>Or you can ask critiqers more specific questions on the Bounties tab</h3>
		<% else %>
			<h3>Follow this Drive and get notified whenever they get moving!</h3>
			<%= button_to 'Follow Drive', product_love_path(@product.id), :method => "get", :class => "btn btn-purple", style: 'float: center; background-color: #6d2cfa; color: #fff;' %>
		<% end %>
	</div>
<% else %>
	<% if signed_in? and current_user.id == @product.user.id %>
		<button class="btn btn-primary" data-toggle="modal" data-target="#newFeatureModal">
				  CREATE A POLL
		</button>
	<% end %>
	<div class="container">
		<div class="single-features">
			<% if !@product.single.nil? and !@product.single.features.empty? %>
				<h2 style="text-align: left; float: left">Singletons&nbsp;<h6 style="text-align: left; padding: 30px;">(Yes/No, Hot/Cold)</h6></h2>
				<div class="row" id="feature-thumbnails<%= @product.single.id %>" style="text-align: left; display: inline-block;">
			    <% @product.single.features.each do |feature| %>
		      	<%= render :partial => 'feature_thumb' , locals: { feature: feature, vote: true } %>
			    <% end %>
				</div>  
			<% end %>
		</div>
		<div class="comparison-features" style="text-align: center;">
			<% if !@product.comparisons.nil? %>
		    <% @product.comparisons.each do |comp_feature| %>
		    	<div style="padding-top: 10px">
		      	<%= render :partial => 'comparison_feature_thumb' , locals: { comp_feature: comp_feature } %>
		      </div>
		    <% end %>
			<% end %> 
		</div>
	</div>
<% end %>

<% if signed_in? and current_user.id == @product.user.id %>
	<%= render partial: '/feature_groups/new_feature_modal', locals: { feature_group: @product.single_features } %>
	<%= render partial: '/features/single_feature_form_modal', locals: { product: @product, feature_group: @product.single_features, feature: @product.single_features.features.new } %>
	<%= render partial: '/features/comparative_feature_form_modal', locals: { product: @product, feature_group: @product.feature_groups.new } %>
<% end %>