<div class="single-features">
	<% if signed_in? and current_user.id == @product.user_id %>
		<%= link_to 'New Singleton', new_product_feature_group_feature_path(:product_id => @product.id, :feature_group_id => @single_features.id), :class => 'btn btn-info' %>
		<button class="btn btn-primary" data-toggle="modal" data-target="#newFeatureModal">
		  CREATE FEATURE
		</button>
		<%= render partial: '/feature_groups/new_feature_modal', locals: { feature_group: @product.single_features } %>
		<%= render partial: '/features/single_feature_form_modal', locals: { product: @product, feature_group: @product.single_features, feature: @product.single_features.features.new } %>
	<% end %>
	<% if !@single_features.nil? and !@single_features.features.empty? %>
		<div class="row" style="text-align: center;">
			<h2>Singletons</h2>
		  <ul class="thumbnails" style="display: inline-block;">
		    <% @single_features.features.each do |feature| %>
		    	<li>
		      	<%= render :partial => 'feature_thumb' , locals: { feature: feature, vote: true } %>
	      	</li>
		    <% end %>
		  </ul>
		</div>  
	<% end %>
</div>
<div class="comparison-features" style="text-align: center;">
	<h2>Comparisons</h2>
	<% if !@comparison_features.nil? %>
	  <div class="row">
	    <% @comparison_features.each do |comp_feature| %>
	    	<div style="padding-top: 10px">
	      	<%= render :partial => 'comparison_feature_thumb' , locals: { comp_feature: comp_feature } %>
	      </div>
	    <% end %>
	  </div>
		<% if signed_in? and current_user.id == @product.user_id %>
			<%= link_to 'New Comparative Feature', new_product_feature_group_path(:product_id => @product.id), :class => 'btn btn-info', style: 'margin-top: 30px;' %>
		<% end %>
	<% else %>
		<h2>No Comparative Features Have Been Set Up For <%= @product.name %>. </h2>
	<% end %> 
</div>

