<div class="product-bounties">
	<% if current_user?(@product.user) %>
		<%= link_to 'Create Bounty', new_product_bounty_path(:product_id => @product.id), class: 'btn btn-primary' %> 
	<% end %>
	<% if @product.bounties.empty? %>
		<h2>No bounties set up yet</h2>
	<% else %>
		<% @product.bounties.each do |bounty| %>
			<div class="single-bounty">
				<div class="bounty-question">
					<h3><%= bounty.question %></h3>
					<p><%= bounty.comments.length.to_s %> responses so far</p>
				</div>
				<div class="new-comment">
		 		  <%= render :partial => '/comments/bounty_form', locals: { tab: 'product-bounties', bounty: bounty, thread_id: 'bounty' + bounty.id.to_s}, style: 'display: inline-block;' %>
          <div class="current-user">
            <% if signed_in? %>
              <div class="thumb-ratio current-user-face" style="width: 100px; height: 100px; background-image: url('<%= current_user.profile_pic_url %>');"></div>
            <% else %>
              <div class="thumb-ratio current-user-face" style="background-image: url('/images/missing-user-avatar.png'); width: 100px; height: 100px; "></div>
            <% end %>
          </div>
        </div>
				<div class="bounty-responses">
					<% if bounty.comments.empty? || bounty.comments.first.body.nil? %>
						<h3>Be the first to respond!</h3>
					<% else %>
						<%= render :partial => 'product_comments', locals: { comments: bounty.comments.order('rating DESC ').first(3), product: @product, thread_id: 'bounty' + bounty.id.to_s, bounty: bounty} %>
						<% if bounty.comments.size > 3 %>
							<%= link_to 'More Responses >>>', product_bounty_path(:product_id => @product.id, :bounty_id => bounty.id), class: 'btn show-bounty-button pull-right' %>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
