<%- model_class = Product -%>
<div class="container">
  <div class="row well well-lg">
    <div class="span3" style="padding-top: 20px;">
      <% if !@product.pictures.empty? %>
        <%= image_tag @product.product_pic.attachment.url(:medium) %>
      <% else %>
        <%= image_tag "/images/missing-image.jpg" %>
      <% end %> 
      </br>
      <h2 style="float: center;"><%=t '.title', :default => @product.name %></h2>
      <p style="float: center; margin-top: -25px">Rating: <%= @product.rating %></p>
    </div>
    <div class="span8" style="margin-top: 50px;">
      <dl class="dl-horizontal" style="color: #333">
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @product.name %> </dd>
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @product.description %></dd>
        <dt><strong>Creator: </strong></dt>
        <dd><%= @product.user.name %></dd>
      </dl>
      <% if signed_in? and current_user.id == @product.user.id %>
        <div class="owner-buttons offset1" style="margin-left: 100px;">
          <%= render :partial => 'product_owner_buttons' %>
        </div>
      <% end %>
    </div>
  </div>
  </br>
  <div class="row span12">
    <ul class="nav nav-tabs" id="product-tabs">
      <li><a href="#product-features" data-toggle="tab">Features</a></li>
      <li><a href="#product-comments" data-toggle="tab">Comments</a></li>
      <li><a href="#product-likers" data-toggle="tab">Likers</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane row span10" id="product-features">
        <%= render :partial => 'product_features' %>
      </div>
      <div class="tab-pane row span10" id="product-comments">
        <%= render :partial => '/comments/form' %>
        <% if !@product.comments.empty? %> 
          <div style="padding-top: 20px; padding-left: 30px;">
            <%= render :partial => 'product_comments' %>
          </div>
        <% else %>
          <h2>Product Has No Comments!</h2>
        <% end %>
      </div>
      <div class="tab-pane row span12" id="product-likers">
        <%= render :partial => 'product_likers' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#product-tabs a[href="#product-features"]').tab('show')
  })
</script>
