<%- model_class = Product -%>
<div class="container">
  <div class="row well well-lg">
    <div class="span4" style="padding-top: 20px;">
      <% if !@product.pictures.empty? %>
        <%= image_tag @product.product_pic.attachment.url(:medium) %>
      <% else %>
        <%= image_tag "/images/missing-image.jpg" %>
      <% end %> 
      </br>
      <h2 style="float: center;"><%=t '.title', :default => @product.name %></h2>
    </div>
    <div class="span6 offset1" style="margin-top: 50px;">
      <dl class="dl-horizontal" style="color: #333">
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @product.name %> </dd>
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @product.description %></dd>
        <dt><strong>Creator: </strong></dt>
        <dd><%= @product.user.name %></dd>
      </dl>
      <% if signed_in? and current_user.id == @product.user.id %>
        <div class="owner-buttons offset1" style="margin-left: 100px;">
          <%= render :partial => 'product_owner_buttons' %>
        </div>
      <% end %>
    </div>
  </div>
  </br>
  <div class="span12">
    <div class="row span5">
      <%= render :partial => 'product_features' %>
    </div>
    <div class="prduct-comment-form span6">
      <%= render :partial => '/comments/form' %>
      <% if !@product.comments.empty? %> 
        <div style="padding-top: 200px; padding-left: 30px;">
          <%= render :partial => 'product_comments' %>
        </div>
      <% else %>
        <h2>Product Has No Comments!</h2>
      <% end %>
    </div>
  </div>
</div>