<%- model_class = Product -%>
<div class="black-wrapper"><div class="product-header" style="background-image: url('<%= @product.pictures.first.attachment.url(:large) %>');"></div></div>
<div class="container">
  <div class="row">
    <div class="span7">
      <h1 class="product-name"><%= @product.name %></h1>
      <p class="product-description"><%= @product.description %></p>
      <div class="product-pictures">
        <% if !@product.pictures.empty? %>
          <div class="main-pic pull-left">
            <%= image_tag @product.product_pic.attachment.url(:large), class: 'product-pic' %>
          </div>
          <div class="other-pics">
            <% @top_pics.each do |pic| %>
              <div class="alt-pic thumb-ratio" style="background-image: url('<%= pic.attachment.url(:thumb) %>')"></div>
            <% end %>
          </div>
        <% else %>
          <%= image_tag "/images/missing-image.jpg" %>
        <% end %> 
      </div>
    </div>
    <div class="span4">
      <h2>Featured Rewards</h2>
      <p>TBA</p>
      <% if signed_in? and current_user.id == @product.user.id %>
        <div class="owner-buttons offset1" style="margin-left: 100px;">
          <%= render :partial => 'product_owner_buttons' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row span12 product-middle">
    <ul class="nav nav-tabs" id="product-tabs">
      <li><a href="#product-features" data-toggle="tab">Features</a></li>
      <li><a href="#product-comments" data-toggle="tab">Comments</a></li>
      <li><a href="#product-likers" data-toggle="tab">Likers</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane row span10" id="product-features">
        <%= render :partial => 'product_features' %>
      </div>
      <div class="tab-pane row span10" id="product-comments">
        <%= render :partial => '/comments/form' %>
        <% if !@product.comments.empty? %> 
          <div style="padding-top: 20px; padding-left: 30px;">
            <%= render :partial => 'product_comments' %>
          </div>
        <% else %>
          <h2>Product Has No Comments!</h2>
        <% end %>
      </div>
      <div class="tab-pane row span12" id="product-likers">
        <%= render :partial => 'product_likers' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#product-tabs a[href="#product-features"]').tab('show')
  })
</script>
