<%- model_class = Product -%>
<% if !@product.rand_pic.nil? %>
<div class="product-header" style="background-image: url('<%= @product.rand_pic.attachment.url(:large) %>');"><div class="black-wrapper"></div></div>
<% elsif !@top_pics.empty? %>
<div class="product-header" style="background-image: url('<%= @top_pics.first.attachment.url(:large) %>');"><div class="black-wrapper"></div></div>
<% else %>
<div class="product-header" style="background: rgba(0, 0, 0, .5);"><div class="black-wrapper"></div></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="span" style="width: 70%;">
      <div class="product-left">
        <h1 class="product-name"><%= @product.name %></h1>
        <div class="product-creator">
          <div class="img-circle creator-face" style="background-image: url('<%= @product.user.profile_pic.attachment.url(:medium) %>');"></div>
          <div class="creator-data">
            <h5 style="text-align: left;">Created By <%= @product.user.name %></h5>
          </div>
          <div class="product-buttons">
            <% if signed_in? and !@product.likes.exists?(:user_id => current_user.id) %>
              <%= button_to 'SUPPORT', product_love_path(@product.id), :method => "get", :class => "btn-clear inline-button" %>
            <% elsif !signed_in? %>
              <h4 style="margin-top: 0px; text-align: center; color: #fff;">Sign in or Sign Up to Vote and Comment</h4>
            <% end %>
            <% if signed_in? and current_user.id == @product.user.id %>
              <%= button_to 'EDIT', edit_product_path(@product.id), :method => "get", :class => "btn-clear inline-button"%>
              <%= button_to 'DELETE', product_path(@btn), :method => 'delete', :class => "btn-clear inline-button"%>
            <% end %>
          </div>
        </div>
        <div style="display: inline">
          <div class="product-pictures">
            <% if !@product.pictures.empty? %>
              <div class="main-pic span6" style="background-image: url('<%= @product.product_pic.attachment.url(:large) %>');"></div>
              <div class="other-pics span pull-left">
                <% @top_pics.first(5).each do |pic| %>
                  <div class="alt-pic thumb-ratio" style="background-image: url('<%= pic.attachment.url(:thumb) %>');"></div>
                <% end %>
              </div>
            <% else %>
              <%= image_tag "/images/missing-image.jpg" %>
            <% end %> 
          </div>
        </div>
      </div>
    </div>
    <div class="product-right">
      <%= button_to 'BUY WHEN COMPLETE', @product, :method => "get", :class => "btn-clear inline-button", style: 'margin-bottom: 0px;' %>
      <h2>Description</h2>
      <p class="product-description"><%= @product.description %></p>
    </div>
  </div>
</div>
<ul class="nav nav-tabs product-nav product-nav-content" id="product-tabs">
  <li><a href="#product-features" data-toggle="tab"><i class="fa fa-check"></i> Features</a></li>
  <li><a href="#product-comments" data-toggle="tab"><i class="fa fa-comments"></i> Crtiiqs (<%= @product.comments.length - 1%>)</a></li>
  <li><a href="#product-likers" data-toggle="tab"><i class="fa fa-heart"></i> Followers (<%= @product.likes.length.to_s %>)</a></li>
  <li><a href="#product-bounties" data-toggle="tab"><i class="fa fa-star"></i> Bounties (<%= @product.bounties.length.to_s %>)</a></li>
  <% if signed_in? and current_user.id == @product.user.id %>
    <li><a href="#product_edit" data-toggle="tab"><i class="fa fa-cogs"></i> Edit</a></li>
  <% end %>
</ul>
<div class="container">
  <div class="row span12 product-middle">
    <div class="tab-content">
      <div class="tab-pane row span12" id="product-features">
        <%= render :partial => 'product_features' %>
      </div>
      <div class="tab-pane row span11" id="product-comments">
        <div class="new-comment">
          <div class="current-user">
            <% if signed_in? and !current_user.pictures.first.nil? %>
              <div class="thumb-ratio current-user-face" style="width: 100px; height: 100px; background-image: url('<%= current_user.profile_pic.attachment.url(:medium) %>');"></div>
            <% else %>
              <div class="thumb-ratio current-user-face" style="background-image: url('/images/missing-user-avatar.png'); width: 100px; height: 100px; "></div>
            <% end %>
          </div>
          <%= render :partial => '/comments/product_form' %>
        </div>
        <% if !@product.comments.empty? %> 
          <div style="padding-top: 20px; padding-left: 100px;">
            <%= render :partial => 'product_comments', locals: { comments: @comments} %>
          </div>
        <% else %>
          <h2>This Has No Comments!</h2>
        <% end %>
      </div>
      <div class="tab-pane row span12" id="product-likers">
        <%= render :partial => 'product_likers' %>
      </div>
      <div class="tab-pane row span12" id="product-bounties">
        <h2>Bounties!</h2>
        <%= render :partial => 'product_bounties' %>
      </div>
      <div class="tab-pane row span12" id="product_edit">
        <h1>Edit Campaign</h1>
        <div class="edit-info pull-left span6">
          <%= render :partial => 'form' %>
        </div>
        <div class="edit-pictures span5 pull-left">
          <h3>Campaign Pictures</h3>
          <div class="row">
            <% @top_pics.each do |pic| %>
              <div class="product-pic-thumb thumb-ratio" style="width: 100px; height: 100px; padding: 10px; background-image: url('<%= pic.attachment.url(:thumb) %>'); display: inline-block;"></div>
            <% end %>
          </div>
          <div class="product-image-upload">
            <%= render :partial => 'multi_upload' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#product-tabs a[href="#<%= @tab %>').tab('show')
  })
</script>
