<%= content_for :fb_image do %>
  <meta property="og:image" content="<%= @product.profile_pic_url %>"/>
<% end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%- model_class = Product -%>
<% if @product.can_be_accessed_by(current_user, cookies["product#{@product.id}"]) %>
  <% if !@product.rand_pic.nil? %>
    <div class="product-header" style="background: url('<%= @product.rand_pic.attachment.url(:blurry) %>'); background-repeat: no-repeat; background-size: cover;">
  <% elsif !@product.top_pics.empty? %>
    <div class="product-header" style="background: url('<%= @product.top_pics.first.attachment.url(:blurry) %>'); background-repeat: no-repeat; background-size: cover;">
  <% else %>
    <div class="product-header" style="background: rgba(0, 0, 0, .5) ;">
  <% end %>
  <div class="black-wrapper">
    <div>
      <h2 class="product-name"><%= @product.name %><%= render partial: 'fb_buttons' %></h2>
      <!-- start of navbar/ lower section -->
      <div class="pnav" style="text-align: center; width: 100%;">
        <ul class="nav nav-tabs product-nav product-nav-content row" id="product-tabs">
          <li style="border-left: none;"><a href="#drive-info" data-toggle="tab"><i class="fa fa-fa-info-circle"></i> <span class="no-mobile">DRIVE INFO</span></a></li>
          <li><a href="#product-features" data-toggle="tab"><span class="yes-mobile"><i class="fa fa-check"></i></span> <span class="no-mobile">VOTE</span></a></li>
          <li><a href="#product-comments" data-toggle="tab"><span class="yes-mobile"><i class="fa fa-comments"></i></span><%= @product.comments.length - 1%> <span class="no-mobile">CRITIQS</span></a></li>
          <li><a href="#product-bounties" data-toggle="tab"><span class="yes-mobile"><i class="fa fa-bullseye"></i></span><%= @product.bounties.length.to_s %> <span class="no-mobile">BOUNTIES</span></a></li>
          <li><a href="#product-likers" data-toggle="tab"><span class="yes-mobile"><i class="fa fa-heart"></i></span><%= @product.followers.length.to_s %> <span class="no-mobile">FOLLOWERS</span></a></li>
          <!--<li><a href="#product-rewards" data-toggle="tab"><i class="fa fa-star"></i> <span class="no-mobile">Rewards</span></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="product-middle">
  <div class="tab-content">
    <!-- Vote Tab -->
    <div class="tab-pane" id="product-features">
      <%= render :partial => 'product_features' %>
    </div>
    <!-- Vote Tab -->
    <div class="tab-pane" id="drive-info">
      <%= render :partial => 'product_info' %>
    </div>
    <!-- Comment Tab -->
    <div class="tab-pane product-comments" id="product-comments" style="text-align: center;">
      <div class="new-comment">
        <%= render :partial => '/comments/product_form', locals: { tab: 'product-comments', thread_id: 'product' + @product.id.to_s}, style: 'display: inline-block;' %>
         <div class="current-user">
          <% if signed_in? %>
            <div class="thumb-ratio current-user-face" style="width: 100px; height: 100px; background-image: url('<%= current_user.profile_pic_url %>');"></div>
          <% else %>
            <div class="thumb-ratio current-user-face" style="background-image: url('/images/missing-user-avatar.png'); width: 100px; height: 100px; "></div>
          <% end %>
        </div>
      </div>
      <% if !@product.comments.empty? %> 
        <div style="padding-top: 20px;" id="comment-container">
          <%= render :partial => 'product_comments', locals: { comments: @product.sorted_comments, product: @product, thread_id: 'product' + @product.id.to_s} %>
        </div>
      <% else %>
        <h2>This Has No Comments!</h2>
      <% end %>
    </div>
    <!-- Likers Tab -->
    <div class="tab-pane" id="product-likers">
      <%= render :partial => 'product_likers' %>
    </div>
    <!-- Bounties Tab -->
    <div class="tab-pane" id="product-bounties">
      <h2>Bounties!</h2>
      <%= render :partial => 'product_bounties' %>
    </div>
    <!-- Rewards Tab -->
    <!--<div class="tab-pane" id="product-rewards">
      <h2>Earn rewards for your critiqs!</h2>
    </div>-->
    <!-- Edit Tab (when signed in) -->
    <% if current_user?(@product.user)%>
      <div class="tab-pane" id="product_edit">
        <h1>Edit Drive</h1>
        <div class="edit-info pull-left span5">
          <%= render :partial => 'form' %>
        </div>
        <div class="edit-pictures span5 pull-left">
          <h3>Drive Pictures</h3>
          <div class="row">
            <% @product.pictures.where.not(:attachment_file_name => nil).each do |pic| %>
              <div class="product-pic-thumb thumb-ratio" style="width: 100px; height: 100px; padding: 10px; background-image: url('<%= pic.attachment.url(:thumb) %>'); display: inline-block;"></div>
              <div class="pic-btns">
                <%= link_to glyph(:trash), product_picture_path(@product.id, pic.id), :method => :delete, data: { :confirm => "You sure?"} , style: 'color:#ff0000' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="jquery-product-image-upload span10">
            <%= render :partial => 'jquery_image_uploader' %>
        </div>
      </div>  
    <% end %>
  </div>
</div>
<% else %>
  <%= render partial: 'product_password_page' %>
<% end %>




