<div class="modal fade single-form " id="singleton-form" tabindex="-1" role="dialog" >
	<button type="button" class="close" data-dismiss="modal" style="padding-right: 4px"><i class="fa fa-times"></i></button>
	<div class="modal-body" style="max-height: 90%;">
		<div class="row" style="margin-bottom: 20px;">
			<div class="form-indicators form-header single-header" style="margin-right: -3px;">
				<!-- note reverse class names to switch colors -->
				<button data-toggle="modal" data-target="#newFeatureModal" style="padding: 0px; border: none;" class="form-button"> 
					<div class="form-tab unselected">
						<p class="tab-name"><% if feature_group.singles? %>SINGLETON<% else %>COMPARISON<% end %></p>
					</div>
				</button>
				<div class="form-tab selected" style="margin-left: -3px;">
					<p class="tab-name">SET UP</p>
				</div>
			</div>
		</div>
		<div>
			<%= nested_form_for [product, feature_group, feature], :html => { :'data-type' => 'json', :class => 'form-horizontal single-form-body', :remote => true, :id => 'singleton-create-form' } do |f| %>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

				<div class="form-field">
			    <h3 class="field-title">Question</h3>
			    <%= f.text_area :name, :class => "form-input", id: "form-quest" %>
			    <p class="explain">This text will appear on the face of the singleton card.</p>
			  </div>
			  <div class="form-field">
			    <h3 class="field-title">Explanation<br>(Optional)</h3>
			    <%= f.text_area :description, :class => "form-input", id: "form-desc"%>
			    <p class="explain">You can include a more in-depth explanation of your question to provide better context </p>
			  </div>
			  <div class="form-field">
			    <h3 class="field-title">Upload Image<br>(Optional)</h3>
			    <%= f.file_field :attachment, id: "form-img", name: 'feature[attachment]' %>
			    <p class="explain">Share a graphic or photo to help critiqers better visualize what you'd like to know.</p>
			  </div>
			  <div class="form-submit" id="single-submit">
			    <%= f.submit nil, :class => 'btn btn-primary', id: "form-submit-button", value: "FINISH"%>
			  </div>
			<% end %>
		</div>
	</div>
</div>
