<div class="single-downvote">
	<a href=<%= product_feature_group_vote_path(product_id: @product.id, feature_id: feature.id, feature_group_id: feature.feature_group_id, up: false) %> class="btn btn-primary ftr-modal-btn" style="background-color: #0000ff; float: left;" data-remote="true" id="modalDownvoteFeature<%= feature.id %>"><i class="fa fa-angle-double-down fa-lg"></i>&nbsp;<%= feature.likes.where(up: false).size.to_s %></a>
</div>
<h4 class="robot-font" style="float: left; margin-left: 70px;" id="feature-votes"><%= feature.percent_like %>%</h4>
<div class="single-upvote">
	<a href=<%= product_feature_group_vote_path(product_id: @product.id, feature_id: feature.id, feature_group_id: feature.feature_group_id, up: true) %> class="btn btn-primary ftr-modal-btn" style="background-color: #ff0000; float: right;" data-remote="true" id="modalUpvoteFeature<%= feature.id %>"><%= feature.likes.where(up: true).size.to_s %>&nbsp;<i class="fa fa-angle-double-up fa-lg"></i></a>
</div>