<div class="feature-callout container" style="position: relative; margin-top: 150px; height: 100%;">

	 <div class="row">
    <% if !@feature.pictures.empty? %>
      <%= image_tag @feature.pictures.first.attachment.url(:thumb) %>
    <% else %>
      <h2>Sorry no image</h2>
      <%= image_tag "/images/missing-image.jpg" %>
    <% end %> 
  </div>

	<p>
	  <strong>Name:</strong>
	  <%= @feature.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @feature.description.to_s %>
	</p>
	<div class="btn-group">
		<%= link_to 'Votes: ' + @feature.likes.where(:up => true).length.to_s ,
							product_feature_group_vote_path(:product_id => @product.id, :feature_id => @feature.id, :feature_group_id => @feature.feature_group, :up => true), class: "btn btn-success" %>
		<% if signed_in? and current_user.id == @feature.feature_group.product.user.id %>
		<%= link_to 'Edit', edit_product_feature_group_feature_path(:id => @feature.id), class: "btn btn-warning" %>
		<%= link_to 'Back', product_path, class: "btn btn-info" %>
		<% end %>
	</div>
</div>

