<%= form_for(:session, url: signin_path, :class => 'navbar-form pull-right', style: 'margin-left: 0px;') do |f| %>
	<div id="nav_login_email" style="padding-top:10px; width: 100px;"><%= f.text_field :email, placeholder: 'email' %></div>
	<div id="nav_login_password" style="padding-top:10px; width: 120px;"><%= f.password_field :password, placeholder: 'password' %></div>
	<div id="nav_login_button"><%= f.submit "Login", class: "btn btn-small btn-primary", style: 'padding: 6px;' %></div>
<% end %>
<div id="nav_signup_button"><%= link_to "Sign Up", new_user_path, class: "btn btn-small btn-primary", style: 'padding: 6px;' %></div>
