
<ul class="nav">
	<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up or Sign In<b class="caret"></b></a>
    <ul class="dropdown-menu pull-right signin-dropdown">
      <li>Log In</li>
      <li>
      	<div class="clearfix" style="padding-left: 20px; padding-right: 20px; padding-top: 0; text-align: center;">
          <%= form_for(:session, url: signin_path, html: { style: 'width: 95%;'}) do |f| %>
            <div class="form-group">
                <%= f.text_field :email, placeholder: 'EMAIL', class: 'session-form', style: 'height: 40px !important; border: 1px solid #828282;	' %>
                <%= f.password_field :password, placeholder: 'PASSWORD', class: 'session-form', style: 'height: 40px !important; border: 1px solid #828282; ' %>
            </div>
            <%= f.submit "SIGN IN", class: "btn btn-primary btn-purple", style: 'margin-bottom: 0px; margin-top: 10px; width: 100%' %>
            <%= link_to '/auth/facebook', class: 'btn fb-btn', style: 'width: 100%;' do %>
                <i class="fa fa-facebook-square fa-lg"></i>&nbsp;&nbsp;Sign In With Facebook
            <% end %>
            <%= link_to '/auth/linkedin', class: 'btn fb-btn li_signup_button', style: 'width: 100%;' do %>
                <i class="fa fa-linkedin-square fa-lg"></i>&nbsp;&nbsp;Sign In With LinkedIn
            <% end %>
            <%= link_to '/auth/twitter', class: 'btn fb-btn tw_signup_button', style: 'width: 100%;' do %>
                <i class="fa fa-twitter-square fa-lg"></i>&nbsp;&nbsp;Sign In With Twitter
            <% end %>
          <% end %>
      	</div>
      </li>
      <li><a href="<%= new_password_reset_path %>">Forgot Password</a></li>
      <li><a href="/signup">Create Account</a></li>
    </ul>
  </li>
</ul>
